/* This is external CSS */

body /* selector */ {
    background-color /* Property */ : black; /* Value */
}

p, h2, h1 { /* Targets all <p> <h1> and <h2> elements */ 
}

section > p { /* Targets only direct <p> desendants of a <div> */
/* <section>
    <div>
        <p>Won't target this one</p>
    </div>
    
    <p>Will target this one</p>
</section>
}

p:hover{ /* :hover is a pseudo class that applys the style when the mouse is over the object */
}

p ~ span{ /* ~ Targets only siblings */
    /* <div>
        <p>Be true to your work, your word, and your friend.</p>
        <span>Luck is believing you're lucky.</span>
    </div> */
}

/* Properties */ 
/* 
color: white;               | Sets the color of text | can use rgb(255, 0, 0) | hsl(0, 100%, 50%) | #ff0000 | red
text-align:                 | Align the text to a certain place | left|right|center|justify|initial|inherit;
font-family:                | Changes the font family of text |family-name|generic-family|initial|inherit;
font-size:                  | Self Explanitory |medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit;
font-style:                 | Allows to change the text style |normal|italic|oblique|initial|inherit;


*/